DB_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/postgres"
DB_ECHO=True

BASE_URL="https://test.deribit.com/api/v2/"

POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres